:root {
  --primary-color: #ffffff;
  --dark-color: #343a40;
  --secondary-color: #6366f1;
  --light-color: #f8f8f8;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 300px) and (max-width: 868px) {
  .header {
    position: static !important;
    width         : 100%;
    justify-content: space-around;
    padding: 1rem 0;
  }
  .navbar {
    display: none;
  }

  .navbar-toggle {
    display: none;
  }

  

  .header-title{
    text-align: center;
   
  }

  .hero-section {
    height: 100vh;
    padding: 0 30px;
  }

  .left img {
    width: 160px;
    height: 160px;
  }

  .right {
    align-items: center;
    width: 100%;
  }

  .right h4 {
    text-align: center;
  }

  .right .title,
  .right .desc {
    text-align: center;
  }

  .about-section {
    height: 100vh;
    flex-direction: column;
    padding: 30px 20px;
    margin: 130px 0;
  }

  .about-info {
    width: 100%;
    align-items: center;
  }

  .about-description{
    text-align: center;
  }

  .about-info figcaption {
    padding: 0;
    text-align: center;
  }

  .about-me .profile {
    left: 45%;
    bottom: 120px;
  }

  

  .projects-section {
    height: 100vh;
    align-items: center;
    padding: 30px 20px;
    margin: 200px 0;
  }

  .project-box {
    width: 100%;
  }

  .contact-section {
    height: 100vh;
    padding: 30px 20px;
    margin: 120px 0;
  }

  .contact-section p {
    text-align: center;
  }

  .contact-details {
    height: 200px;
    align-items: center;
  }
  .contact-form {
    align-items: center;
  }

  form .input-box-row{
    flex-direction: column;
    gap: 0;
    margin-botom: 0;
  }

  .footer{
    width: 100%;
    margin-top: 100px;
   
  }

  .mobile-nav-section{
    position: fixed;
    top: 20%;
    right: 10px;
    display: block;
    padding: 30px 0px;
  }
  
  .mobile-navbar{
    width: 100%;
  }
  
  .mobile-nav-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
  
  .mobile-nav-link.active-btn{
    background-color: var(--secondary-color);
  }
  
  .mobile-nav-link{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
    border-radius: 50%;
    opacity: 0.6;
    box-shadow: var(--box-shadow);
  }
  
  .mobile-nav-link .icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
}
